@import 'rtl';
@import 'components/table';
@import 'components/header';
@import 'components/footer';
@import 'components/single';
@import 'components/search';
@import 'components/image';

html {
    scroll-behavior: smooth;
}

.ui.sharp.segment {
    border-radius: 0;
}

mark {
    background-color: #cce5ff;
}

a.card>.content {
    color: black;
}