@media only screen and (max-width: 767px) {
    // Read more margin when stacked.
    #read-more {
        margin-top: 1rem;
    }
}

// Divider Styling.
hr {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: rgba(0,0,0,.85);
    margin: 1rem 0;
}

// Auto scroll bar on overflow of code blocks.
pre {
    overflow: auto;
}