<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "menu-modal.html" . -}}
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/semantic.min.js"></script>
        <script src="/js/fuse.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/prism.js"></script>
    </body>
</html>
