<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "menu-modal.html" . -}}
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/semantic.min.js"></script>
        <script>
        $('.hamburger.item').click(e => {
            $('.ui.modal').modal('show');
        });
        </script>

        <script>
        $('.ui.accordion').accordion();

        const headers = $('#post-content :header');
        const paragraph_link_html = '<i id="paragraph-link-icon" class="paragraph link icon" onclick="to_paragraph(this)"></i>';
        const toc_link_html = '<i id="toc-link-icon" class="list ul link icon" onclick="to_toc(this)"></i>';
        headers.popup({
            position: 'left center',
            distanceAway: 10,
            hoverable: true,
            exclusive: true,
            delay: {show: 0, hide: 250},
            html: ($('#toc').length <= 0 ? '' : toc_link_html) + paragraph_link_html,
            forcePosition: true,
            inline: true
        });

        function get_header(element) {
            return $(element).parent('.popup').prev().attr('id')
        }

        function to_paragraph(e) {
            const header = get_header(e);
                window.location = `#${header}`;
        }

        function to_toc() {
            if ($('#toc.accordion .title').hasClass('active'))
            {
                window.location = '#toc';
            }
            else
            {
                $('.ui.accordion#toc').accordion('open', 0);
                setTimeout(() => {
                    window.location = '#toc';
                }, 500);
            }
        }
        </script>

        <script src="/js/fuse.min.js"></script>
        <script>
            const fuse_options = {
                shouldSort: true,
                includeMatches: true,
                findAllMatches: true,
                threshold: .5,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'title',
                    'series',
                    'categories'
                ]
            };
            
            var fuse = false;
            var fuse_promise = new Promise((resolve, reject) => {
                $.getJSON('/חיפוש/index.json', (result, status) => {
                    if (status === 'success') {
                        resolve(result);
                    }
                    else {
                        reject();
                    };
                });
            })
            .then(response => {
                fuse = new Fuse(response, fuse_options);
            });

            function string_insert(string, substring, position) {
                return `${string.slice(0, position)}${substring}${string.slice(position)}`;
            }
            
            const highlight_start = '<mark>'
            const highlight_end = '</mark>'
            function highlight_string(string, matches) {
                let extra_length = 0;
                matches.forEach(indices => {
                    string = string_insert(string, highlight_start, indices[0] + extra_length);
                    extra_length += highlight_start.length;
                    string = string_insert(string, highlight_end, indices[1] + extra_length + 1);
                    extra_length += highlight_end.length;
                })
                return string;
            }

            function highlight_match(result) {
                console.log(result.matches);
                result.matches.forEach(match => {
                    if (match.key == 'title') {
                        result.item[match.key] = highlight_string(result.item[match.key], match.indices);
                    }
                    else {
                        result.item[match.key][match.arrayIndex] = highlight_string(result.item[match.key][match.arrayIndex], match.indices);
                    }
                });
                return result;
            }
        
            function reduce_key(array, prefix, suffix, delimeter = ', ') {
                if (array && array.length >= 1) {
                    let result = `${prefix}: `;
                    array.forEach(e => {
                        result += e + delimeter;
                    });
                    result = result.slice(0, -delimeter.length);
                    result += suffix;
                    return result;
                }
                else {
                    return '';
                }
            }
            
            function search(term) {
                return $.extend(true, [], fuse.search(term))
                    .map(result => highlight_match(result))
                    .reduce((acc, cur) => {
                        const obj = {title: cur.item.title, url: cur.item.url};
                        obj.description = `${reduce_key(cur.item.series, 'סדרה', '. ')}
                            ${reduce_key(cur.item.categories, 'קטגוריות', '.')}<br>
                            ${cur.item.date}`;
                        acc.push(obj);
                        return acc;
                    }, []);
            }
            
            $('.ui.search').search({ 
                apiSettings: {
                    responseAsync: (settings, callback) => {
                        if (fuse)
                        {
                            const results = search(settings.urlData.query);
                            callback({results: results, success: true});
                        }
                        else {
                            return {success: false};
                        }
                    }},
                error: {
                    noResults: 'אולי תנסו משהו אחר?'
                },
                selectFirstResult: true,
                searchDelay: 0
            });
            </script>

            <script>
            function format_search_as_cards(search) {
                return search.reduce((acc, cur) => {
                        return acc +
                            `
                            <a href=${cur.url} class="card">
                            <div class="content">
                                <div class="header">${cur.title}</div>
                                ${cur.description}
                            </div>
                            </a>`
                    }, '');
            }

            $('#search-input').click(e => {
                const results = format_search_as_cards(search($(e.currentTarget).val()));
                $('#search-results').html(results);
            });
            $('#search-input').keyup(e => {
                const results = format_search_as_cards(search($(e.currentTarget).val()));
                $('#search-results').html(results);
            });
            </script>
    </body>
</html>
