<div class="ui inverted sharp segment">
    <div class="ui text container">
        <nav class="ui inverted secondary menu" role="navigation" aria-label="Main Navigation">
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main }}
            <a class="
            {{- if $currentPage.HasMenuCurrent  "main" . }}active {{ end -}}
            item" href="{{ .URL }}">{{ .Title }}</a>
            {{- end }}
            <a class="item" href="#about">אודות</a>
            {{ with .Site.Params.github }}
            <div class="right menu">
                <a class="ui labeled icon button" href="{{ . }}">
                    <i class="github icon" aria-label="Github Icon"></i>
                    סטאר על Github!
                </a>
            </div>
            {{ end }}
        </nav>
    </div>
</div>