<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/semantic.rtl.min.css">
    <link rel="stylesheet" href="/css/prism.css">
    {{/* Process the SASS stylesheets and link the result. */ -}}
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "sass/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    {{- /* Search engine optimization. */}}
    <title>
        {{- $site_title := .Site.Title -}}
        {{- with .Title -}}
        {{/* If the title will be under 27 characters with the site title add
            the site title to the title. Compares to 27 because the printf
            later adds 3 characters. */}}
        {{- if lt (len .) (sub 27 (len $site_title)) -}}
        {{- printf "%s - %s" $site_title . -}}
        {{- else -}}
        {{- . -}}
        {{- end -}}
        {{- else -}}
        {{ $site_title }}
        {{- end -}}
    </title>
    <meta name="description" content="
        {{- with .Description -}}
        {{- . -}}
        {{- else -}}
        {{- if .IsPage -}}
        {{- .Summary -}}
        {{- else -}}
        {{- .Site.Params.description -}}
        {{- end -}}
        {{- end -}}
    ">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="home" href='{{ absLangURL "/" }}'>
</head>