<div class="ui inverted sharp segment">
    <div class="ui text container">
        <nav class="ui inverted secondary menu" role="navigation" aria-label="Main Navigation">
            {{ with .Site.Title }}
            <div class="item">
                {{ . }}
            </div>
            {{ end }}
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main }}
            <a class="
            {{- if $currentPage.HasMenuCurrent  "main" . }}active {{ end -}}
            item" href="{{ .URL }}">{{ .Title }}</a>
            {{- end }}
            <a class="item" href="#about">אודות</a>
        </nav>
    </div>
</div>