<div class="ui inverted sharp segment">
    <div class="ui text container">
        <nav id="desktop-navigation" class="ui inverted secondary menu" role="navigation" aria-label="Main Navigation" itemtype="https://schema.org/Menu">
            {{ with .Site.Title }}
            <div class="item" itemprop="hasMenuItem">
                <a href="/">
                    {{ . }}
                </a>
            </div>
            {{ end }}
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main }}
            <a class="
            {{- if $currentPage.HasMenuCurrent  "main" . }}active {{ end -}}
            item" href="{{ .URL }}" itemprop="hasMenuItem">{{ .Title }}</a>
            {{- end }}
            <a class="item" href="#about" itemprop="hasMenuItem">אודות</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="">
                            <i class="search icon" aria-label="חיפוש"></i>
                        </div>
                        <div class="results">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav id="mobile-navigation" class="ui inverted secondary menu" role="navigation" aria-label="Main Navigation" itemtype="https://schema.org/Menu">
                <a class="hamburger item" itemprop="hasMenuSection">
                    <i class="hamburger inverted icon"></i>
                </a>
                {{ with .Site.Title }}
                <div class="item" itemprop="hasMenuItem">
                    <a href="/">
                        {{ . }}
                    </a>
                </div>
                {{ end }}
        </nav>
    </div>
</div>