<div id="menu-modal" class="ui inverted mini modal">
    <nav class="ui massive fluid vertical inverted menu" role="navigation" aria-label="Main Navigation" itemscope itemtype="https://schema.org/Menu">
        <a class="item" href="/" itemprop="hasMenuItem">בית</a>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main }}
        <a class="
        {{- if $currentPage.HasMenuCurrent  "main" . }}active {{ end -}}
        item" href="{{ .URL }}" itemprop="hasMenuItem">{{ .Title }}</a>
        {{- end }}
        <a class="item" href="#about" onclick="$('#menu-modal').modal('hide');" itemprop="hasMenuItem">אודות</a>
        <a class="item" href='{{ urlize "/חיפוש/" | relLangURL }}' itemprop="hasMenuItem">חיפוש</a>
    </nav>
</div>