{{ with .Params.series }}
{{ range . }}
<a href = "{{ printf "/series/%s/" . | urlize | relLangURL }}" itemprop="isPartOf">
    {{ . | upper }}
</a>
{{ end }}
{{ end }}
<a href="{{ .Permalink }}">
    <h1 class="ui header" itemprop="headline">{{ .Title }}</h1>
</a>
<p>
    <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/1/2006" }}</time>
    {{ with .Params.categories }}
    {{ range . }}
    <a class="ui basic label" href="{{ printf "/categories/%s/" . | urlize | relLangURL }}" itemprop="articleSection">{{ . }}</a>
    {{ end }}
    {{ end }}
</p>