{{ if or .NextInSection .PrevInSection }}

<div class="ui horizontal divider">או קראו עוד</div>
<div class="ui text container">
    <div id="read-more" class="ui {{ if and .PrevInSection .NextInSection }}two {{ else }}one {{ end }}stackable cards">
        {{ $prev := .PrevInSection }}
        {{ $next := .NextInSection }}
        {{ with $prev }}
        <div class="card" itemscope itemtype="https://schema.org/TechArticle">
            <div class="content">
                {{ partial "post-header.html" . }}
                {{ partial "post-summary.html" . }}
            </div>
            <a href="{{ .URL }}" class="ui huge basic fluid button" itemprop="url">
                להמשך קריאת הפוסט הקודם
            </a>
        </div>
        {{ end }}
        {{ with .NextInSection }}
        <div class="card" itemscope itemtype="https://schema.org/TechArticle">
            <div class="content">
                {{ partial "post-header.html" . }}
                {{ partial "post-summary.html" . }}
            </div>
            <a href="{{ .URL }}" class="ui huge basic fluid button" itemprop="url">
                להמשך קריאת הפוסט הבא
            </a>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}